@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px; /* pra tirar aqueles espaços vazios entre as caixas */
    font-size: 1em;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkgray;
    min-height: 100vh; /* o body sempre vai cobrir o viewport todo */
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-weight: bolder;
    font-family: 'Passion One';
    font-variant: small-caps; /* transforma as letras minúsculas em letras maiusculas menores */
    font-size: 10vw; /* viewport width - varia somente de acordo com a largura */
    padding-top: 30px;
}

header > p{
    padding-bottom: 30px;
}

header > p > a{
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

header > p > a:hover{
    text-decoration: underline;
}

main{
    font-family: 'Sriracha';
}

section{
    line-height: 2em; /* espaçamento entre os versos */
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh; /* usar vh é mais interessante porque fica um espaço variado de acordo com o tamanho da viewport */
    font-size: 1.5em;
}

section > p{
    padding-bottom: 2em;
}

.normal{
    background-color: white;
    color: black;
}

.diferente{
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    /* cobre 100% da vh */
    background-attachment: fixed;
    /*
    fixed = a imagem fica imóvel conforme o conteúdo vai rolando
        pra mexer de acordo com o conteúdo usa scroll
    */
}

section.diferente > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

#img01{
    background-image: url(imagens/background001.jpg);
    background-position: center center;
}

#img02{
    background-image: url(imagens/background002.jpg);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

footer > p > a{
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

footer > a:hover{
    text-decoration: underline;
}